
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Vrundavan Infra Solutions LLP</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,700,800%7COswald:300,400,500">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="icon" href="../static/Images/icon.png" type="image/gif" sizes="16x16">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
    .verticalLine {
        border-left: thick solid #0058ab;
}
.service-photos:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: 0.4s;
}

.service-container{
  margin-top:100px;
}



h3{
    font-size:25px;
}
@media only screen and (max-width: 600px){
  .service-photos{
    margin-top:30px;
    margin-bottom:30px;
  }
  .footer-logo{
    text-align:center;
    margin-left:30%;
  }
  .footer-links{
    text-align:center;
    margin-left:20%;
  }
  .header2{
    margin-top:40px;
  }
  
}
  </style>
  </head>
  <body>
    <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-logo"><img src="../static/Images/logo.png" alt="" class="preload"/>
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <div class="page"> </div>
      <!-- Page Header-->
      <!-- <header class="section page-header">
       
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
           
                <div class="rd-navbar-panel">
                
                  
                 <a class="rd-navbar-brand" href="{{url_for('home')}}"><img src="../static/Images/logo.png" alt=""class="image"></a>
                  <button class="rd-navbar-toggle ml-auto" data-rd-navbar-toggle="#rd-navbar-nav-wrap"><span></span></button>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{{url_for('home')}}" style="color:#0058ab;">Home</a>
                      </li>
                     
                      <li class="rd-nav-item "><a class="rd-nav-link" href="{{url_for('services')}}"  style="color:gray;">Services</a>
                      </li>

                      <li class="rd-nav-item "><a class="rd-nav-link" href="{{url_for('equipment')}}"  style="color:#0058ab;" >Equipment Finance</a>
                      </li>

                      <li class="rd-nav-item "><a class="rd-nav-link" href="{{url_for('vehicle')}}"  style="color:#0058ab;">Vehicle Finance</a>
                      </li>
                    
                      <li class="rd-nav-item "><a class="rd-nav-link" href="{{url_for('team')}}"   style="color:#0058ab;">Our Team</a>
                      </li>
                      
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{{url_for('contact')}}" style="color:#0058ab;">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                  
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header> -->
      <!-- Breadcrumbs-->
      <div style="background-image: url(../static/Images/services.jpg);height:100%;width:100%;background-position: center;background-size: cover;background-repeat: no-repeat;">
      <section class="breadcrumbs-custom bg-image context-dark" style="background: rgba(0, 0, 0, 0.5);padding-top:0px;padding-bottom:0px;">
        <div class="breadcrumbs-custom-inner">
          <div class="breadcrumbs-custom-container container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated" style="color:white;font-weight:500;">Services</h6>
              <h1 class="breadcrumbs-custom-title" style="color:white;font-weight:600;">Services</h1>
            </div>
            <ul class="breadcrumbs-custom-path" style="padding-bottom:100px;">
              <li><a href="{{url_for('home')}}" style="color:white;font-weight:600;">Home</a></li>
              <li class="active" style="color:white;font-weight:600;">Services</li>
            </ul>
          </div>
        </div>
        
      </section>
    </div>

      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="../static/Images/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('services')}}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('equipment')}}">Equipment Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('vehicle')}}">Vehicle Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('team')}}">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
            </li>
          </ul>
        </div>

      </nav>
      <!-- A Few Words About Us-->
      <section class="section section-lg bg-gray-100" style="background-color:white;">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h3 style="font-weight:500;font-size: 40px;">Our Services</h3>
              <ul class="mt-5" data-aos="fade-right">
                  <li>
                    <a href="#1"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Loan Syndication</span></a>
                  </li>
                  <li>
                    <a href="#2"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Asset life cycle Management</span></a>
                  </li>
                  <li>
                    <a href="#3"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Working Capital Financial assistance</span></a>
                  </li>
                  <li>
                    <a href="#4"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Structured Financing</span></a>
                  </li>
                  <li>
                    <a href="#5"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Project Advisory Services</span></a>
                  </li>
                  <li>
                    <a href="#6"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Project operation and maintenance</span></a>
                  </li>
                  <li>
                    <a href="#7"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Services for existing equipment</span></a>
                  </li>
                  <li>
                    <a href="#8"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Leasing solution</span></a>
                  </li>
                  <li>
                    <a href="#9"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Critical Account Recovery and Resolution plan</span></a>
                  </li>
                  <li>
                    <a href="#10"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Credit appraisal and assessment services</span></a>
                  </li>
                  <li>
                    <a href="#11"><span style="color:#0058ab;font-size:19px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Repo stock liquidation</span></a>
                  </li>
              </ul>
            </div>
            <div class="col-md-10 col-lg-6 mt-4" style="margin-top:100px;"><img class="img-responsive" src="../static/Images/second service.jpg" data-aos="fade-right" alt="" width="602" height="400"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Services-->
      <section class="section-lg text-center">
        <div class="container">
          <h3 data-aos="fade-right" style="font-weight:500;font-size: 40px;">Services</h3>
          <p data-aos="fade-right"><span class="text-width-1">As the most qualified financial services provider, we offer an amazing variety of financial solutions designed to help you solve all bookkeeping issues, no matter big or small.</span></p>

          <div class="container service-container">
            <div class="row mt-5">
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <div class="row">
                  <div class="col-md-3 col-sm-12 col-lg-3">
                    <img src="../static/Images/profit.png" alt="profit" class="service-photos">
                  </div>
                  <div class="col-md-9 col-sm-12 col-lg-9" style="text-align:left;">
                    <p style="font-weight:600;font-size:20px;color:#4a90e2;">Construction Equipment Finance</p>
                    <p>Construction Equipment Loans help you buy new or used machinery without collaterals in an easy and simple way. You can purchase any kind of Construction machines through this loan.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <div class="row">
                  <div class="col-md-3 col-sm-12 col-lg-3">
                    <img src="../static/Images/finance.png" style="color:#0058ab;" alt="profit" class="service-photos">
                  </div>
                  <div class="col-md-9 col-sm-12 col-lg-9" style="text-align:left;">
                    <p style="font-weight:600;font-size:20px;color:#4a90e2;">Commercial Vehicle Finance</p>
                    <p>Commercial Vehicle Loans help you buy new or used commercial vehicle without collaterals in an easy and simple way. You can purchase any kind of Commercial Vehicles through this loan.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <div class="row">
                  <div class="col-md-3 col-sm-12 col-lg-3">
                    <img src="../static/Images/asset.png" alt="profit" class="service-photos service-2">
                  </div>
                  <div class="col-md-9 col-sm-12 col-lg-9" style="text-align:left;">
                    <p style="font-weight:600;font-size:20px;color:#4a90e2;">Asset Insurance</p>
                    <p>Asset insurance covers all your assets against sudden and accidental damage.</p>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-lg-3">
                      <img src="../static/Images/commercial.png" alt="profit" class="service-photos">
                    </div>
                    <div class="col-md-9 col-sm-12 col-lg-9" style="text-align:left;">
                      <p style="font-weight:600;font-size:20px;color:#4a90e2;">Asset Sell & Purchase for Commercial & Construction Equipment</p>
                      <p>We act as a mediator to sell and purchase new or used commercial Vehicles or Construction Equipments. We help our customers to complete the transaction with a transparency process.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-lg-3">
                      <img src="../static/Images/diamond.png" alt="profit" class="service-photos">
                    </div>
                    <div class="col-md-9 col-sm-12 col-lg-9" style="text-align:left;">
                      <p style="font-weight:600;font-size:20px;color:#4a90e2;">Structure Funding</p>
                      <p>Structured Fund is one type of fund that combines both equity and fixed-income products to provide investors with a degree of both capital protection and capital appreciation</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-lg-3">
                      <img src="../static/Images/piggy.png" alt="profit" class="service-photos">
                    </div>
                    <div class="col-md-9 col-sm-12 col-lg-9" style="text-align:left;">
                      <p style="font-weight:600;font-size:20px;color:#4a90e2;">Fund Based / Non Fund Based</p>
                      <p>We provide Fund Based & Non Fund Based facilities to our customer by the banks or Non Banking Financial Institutions.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="container">
            <h2 style="color:black;text-align:center;font-family:sans-serif;font-size:30px;" data-aos="fade-right" class="mb-2 mt-5">To Customers</h2>
            
            <div class="row">
              <div id="4" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
            <h3 style="color:#0058ab;text-align:left;">Structured Financing</h3>
                <div class="verticalLine">
                <p style="text-align:left;margin-left:20px;margin-top:30px;">We provide our special services to the eligible clients for their spontaneous and unplanned financial requirements for their complexed financial needs. We assist our clients in finding the right and workable financial solutions for their needs.</p>
              </div>
              </div>
              <div id="2" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3  style="color:#0058ab;text-align:left;" class="header2">Asset life cycle Management</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">In the asset base finance business, asset is the primary security, thus we focus on the entire life cycle of the asset. We provide our expert management services for the asset life cycle right from the procurement of the asset to its deployment, manoeuvring, maintenance and disposal.</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div id="3" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3 style="color:#0058ab;text-align:left;">Working Capital Financial assistance</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">Working capital is a very critical component in the business. We cater the short term and long terms working capital requirements of our clients on the easy and viable terms. We assist our client in assessing the present and future working capital requirements, help in making the proposal and place them to the right financial institution for the easy and quick disposal.</p>
                </div>
              </div>
              <div id="1" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3  style="color:#0058ab;text-align:left;" class="header2">Loan Syndication</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">We offer our prime services in loan syndication for catering the bigger requirement of the large size customers. We have an extensive client networking in the market and we cater various kind of the financial requirement of our customers. We are also in the process of developing our advantageous networking with the various banks and financial institutions through which we can channelize the requirement of either side for the ease of the business.</p>
            </div>
              </div>
            </div>

            <div class="row">
              <div id="5" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3 style="color:#0058ab;text-align:left;">Project Advisory Services</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">We provides consultancy services in planning of a project or program, develop effective governance structures, and assess project and process performance focused on better conceptualizing and planning of capital investments. Our services include the practical cash flow analysis factual viability analysis which is the critical key factors of a project. Our Projects Advisory helps enhance performance of your capital investments and projects. The experienced team enables project stakeholders achieve success in their projects, by integrating industry experience with hands-on expertise, technical and financial competencies, effective methods and time-tested digital and technology tools.</p>
                </div>
              </div>
              <div id="8" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3 style="color:#0058ab;text-align:left;" class="header2">Leasing solution</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">Through our leasing solution services, you can own equipment without purchasing it. Moreover if you are looking to increase your liquidity and manage cash flow better, our assistance in leasing the equipment will help you to upgrade your business with the acquisition of the required equipment in your fleet, without disrupting your working capital and business credit line. This can maximizing your profits, transfer the ownership risk, and yet enjoy all benefits of ownership through the customised leasing structure most suitable for your business requirements.</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div id="7" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3 style="color:#0058ab;text-align:left;">Services for existing equipment</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">Our expert technical team is also able to cater your needs for the fleet of your existing construction equipment. We provide services for servicing, repairing, transportation and refurbishing of existing equipment as per your requirement. We also provide assistance in getting refinance on existing equipment. Our team also can help you in selling your existing equipment at good price.</p>
                </div>
              </div>
              <div id="6" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                
                <h3 style="color:#0058ab;text-align:left;" class="header2">Project operation and maintenance</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">We also provide assistance in running project and maintenance in various ways. Our expert team is available to evaluate the requirements of operation assistance and maintenance requirements in a running project.</p>
                </div>
              </div>
            </div>

            <h2 style="color:black;text-align:center;font-family:sans-serif;font-size:30px;" data-aos="fade-right" class="mb-2 mt-5">To Bank/Financial Institutions</h2>

            

            <div class="row">
              <div id="9" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3 style="color:#0058ab;text-align:left;">Critical Account Recovery and Resolution plan</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">We have a team of senior financial professionals worked with various financial institutions. We offer our expert services for viable resolution of the critical accounts with our structured and systematic approach. A key component of recovery and resolution planning is a strategic analysis and true assessment of the revenue model of the client and finding workable solutions according to the underlying situations include appropriate actions that help maintain continuity of these functions and to avoid unnecessary destruction of value and minimising, the losses to creditors.</p>
                </div>
              </div>
              <div id="11" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                <h3 style="color:#0058ab;text-align:left;" class="header2">Repo stock liquidation</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">Being having the team of the construction equipment and commercial vehicle industry, we have an extensive customer network and we cater the requirement of their used assets requirements. This way we can provide effective solutions to the financial institution in liquidating their stock of repossessed assets on the quick and beneficial terms.</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div id="10" class="col-md-6 col-sm-12 col-lg-6" data-aos="fade-right">
                
                <h3 style="color:#0058ab;text-align:left;">Credit appraisal and assessment services</h3>
                <div class="verticalLine">
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">This is one of the unique, exclusive and critically important services, which we provide though our expert credit analysts. We offer a meaningful and customized credit analysis service for the various products. One of the team of our experts is engaged in incessant analysis and market updates at various levels of the market intelligence and portfolio analysis in the area of commercial vehicles and construction equipment.</p>
                  <p style="text-align:left;margin-left:20px;margin-top:30px;">Our credit evaluation services features the multidimensional approaches of the market realties, understanding the revenue model of the customers, asset specific intelligence, changing market dynamics, evaluation of repayment capacity of the client and probability of the defaults.  Our services are complete based on the scientific data analysis, understanding of the market dynamics and standard credit practices in the industry. Yet we can customise the same according to the requirement of the financiers.</p>
                </div>
              </div>
              
            </div>
          </div>
         </div>
         </div>
         </section>
         </div>
        
          
          
      <!-- Page Footer-->
      <section id="footer">
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-1s1" data-aos="fade-right">
                <div style="text-align:center;">
                  <img src="../static/Images/logo.png" alt="logo" height="200" width="200"> 
                </div>
                <!-- <img src="../static/Images/logo.png" class="footer-logo" alt="logo" > -->
                <p class="footer-p">
                  We help you to get a quick loan on used and pre-owned Construction Equipment & Commercial Vehicle for your short terms need of funds
                </p>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-2s1 footer-2" data-aos="fade-right">
                <h3 class="footer-header">Contacts</h3>
                <div style="margin-top:30px;">
                  <i style="color:aquamarine;" class="fa fa-map-marker" aria-hidden="true"></i> <span style="margin-left:10px;font-size:14px;">VRUNDAVAN INFRASOLUTIONS<br>LLP A/802-B, West Gate, YMCA Club,<br> S.G. Highway, GJ 380054 IN.</span><br>
                   
                  <span><i style="color:aquamarine;" class="fa fa-phone" aria-hidden="true"></i><span style="margin-left:10px;">Phone: +800 49 900 900</span></span><br>
                  <span><i style="color:aquamarine;" class="fa fa-envelope-o" aria-hidden="true"></i><span style="margin-left:10px;">Email: info@visllp.com</span></span><br>
                  <span><i style="color:aquamarine;" class="fa fa-globe" aria-hidden="true"></i><span style="margin-left:10px;">Website: visllp.com</span></span>
              </div>
              </div>
              <div class="col-md-5 col-sm-12 col-lg-2 footer-devider-3s1 footer-devider-3" data-aos="fade-right">
                <h3 class="footer-header">Useful Links</h3>
                <ul class="footer-ul">
                  <li><a href="{{url_for('home')}}" style="color:white;">Home</a></li>
                  <li><a href="{{url_for('services')}}" style="color:white;">Services</a></li>
                  <li><a href="{{url_for('equipment')}}" style="color:white;">Equipment Finance</a></li>
                  <li><a href="{{url_for('vehicle')}}" style="color:white;">Vehicle Finance</a></li>
                  <li><a href="{{url_for('team')}}" style="color:white;">Our Team</a></li>
                  <li><a href="{{url_for('contact')}}" style="color:white;">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-4s1 footer-devider-3" data-aos="fade-right">
                <h3 class="footer-header">Newslatter</h3>
                <p class="footer-3-p">Subscribe to our newsletter and stay up to date with all events coming straight in your mailbox:</p>
                <form  method="POST" style="margin-top:30px;">
                  <div class="form-group">
                    
                      <input type="email" name="email" class="form-control form-control-footer" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Your E-mail Address"  required autocomplete="off">
                      <button type="submit" class="btn btn-lg btn-subscribe-footer"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>    Subscribe</button>
                     
                  
                  </div>
                </form>
              </div>
            </div>
      
            <div class="row second-footer-row">
              <div class="col-md-5 col-sm-12 col-lg-5 copyright" style="text-align:center;">
                <p>Copyright © visllp 2021. All rights reserved.</p>
              </div>
              <div class="col-md-3 col-sm-12 col-lg-3">
                
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4 social-icons" style="text-align:center;">
                <a href="#"><i class="fa social-icon fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-telegram" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
      
        </footer>
      </section>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          offset: 240,
          duration: 1000
      });
    </script>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Javascript-->
    <script src="../static/js/script1.js"></script>
    <script src="../static/js/script2.js"></script>
 </body>
</html>