<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Vrundavan Infra Solutions LLP</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/script3.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,700,800%7COswald:300,400,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="icon" href="../static/Images/icon.png" type="image/gif" sizes="16x16">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
    .help-img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: 0.4s;
}
  .hdfc{
    margin-top:20%;
  }

.quick-loan{
  margin-top:150px;
}

@media only screen and (max-width: 600px){
  .box-cta-1{
    text-align:left;
  }
  .wow-btn{
    position: relative;
    left:0px;
  }
  .wow-outer{
    text-align:left;
  }
  .bank-img{
    margin-top:0px;
  }
  .help-img{
    margin-top:20px;
    margin-bottom:20px;
  }
  .quick-loan{
    margin-top:50px;
  }
  .bank-img{
    height:170px;
    width:200px;
  }
  .bank-title{
    text-align:center;
  }
  .bank-content{
    margin-left:20px;
    margin-right:20px;
  }
  .hdfc{
    margin-top:20px;
  }
  .footer-logo{
    text-align:center;
    margin-left:30%;
  }
  .footer-links{
    text-align:center;
    margin-left:20%;
  }
  .parallax-container{
  position:relative;
  top:10px;
}
  
}
.parallax-container{
  position:relative;
  bottom:20px;
}

.home-img{
  margin-top:7%;
}
.data-text{
  margin-left:7%;
}
.main-header{
  margin-top:50px;
  margin-bottom:20px;
  font-size:40px;
  font-family:sans-serif;
  color:black;
  line-height:1.3;
}
.second-content{
  font-size:30px;
}
.leader-container{
  background-color:#0058ab;
  margin-top:50px;
  margin-bottom:50px;
}
.profile{
  height:400px;
  width:400px;
  margin-bottom:20px;
}
.profile:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: 0.4s;
}
.leader-name{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
  color:white;
  font-size:20px;
}
.leader-name:hover{
  color:black;
}
.leader-p{
  text-align:center;
  margin-top:5px;
  margin-bottom:10px;
  color:white;
  font-size:20px;
}
    </style>
  </head>
  <body>
    <!-- <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div> -->
    <div class="preloader">
      <div class="preloader-logo"><img src="../static/Images/logo.png" alt="" class="preload"/>
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <div class="page"> </div>
      <!-- Page Header-->
    
      <div style="background-image: url(../static/Images/team.jpg);height:100%;width:100%;background-position: center;background-size: cover;background-repeat: no-repeat;">
      <section class="breadcrumbs-custom bg-image context-dark" style="background: rgba(0, 0, 0, 0.5);padding-top:0px;padding-bottom:0px;">
        <div class="breadcrumbs-custom-inner">
          <div class="breadcrumbs-custom-container container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated" style="color:white;font-weight:500;">Our Team</h6>
              <h1 class="breadcrumbs-custom-title" style="color:white;font-weight:600;">Our Team</h1>
            </div>
            <ul class="breadcrumbs-custom-path" style="padding-bottom:100px;">
              <li><a href="{{url_for('home')}}" style="color:white;font-weight:600;">Home</a></li>
              <li class="active" style="color:white;font-weight:600;">Our Team</li>
            </ul>
          </div>
        </div>
      
      </section>
      </div>

        
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="../static/Images/logo.png" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('services')}}">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('equipment')}}">Equipment Finance</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('vehicle')}}">Vehicle Finance</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('team')}}">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-lg-2">

          </div>
          <div class="col-md-8 col-sm-12 col-lg-8" data-aos="fade-right">
            <p class="main-header" style="margin-top:80px;">
              The people who work at Vrundavan share the vision and values of our community.
            </p>
            <p class="second-content" style="margin-bottom:40px;">
              We’re driven by the idea that the best work is born from diligence, craftsmanship and fun.
            </p>
          </div>
          <div class="col-md-2 col-sm-12 col-lg-2">
            
          </div>
        </div>
      </div>

      

    <section id="team" class="pb-5">
      <div class="container">
          <h5 class="section-title h1">OUR TEAM</h5>
          <div class="row">
              <!-- Team member -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" data-aos="fade-right">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="../static/Images/profile.jpg" alt="card image"></p>
                                      <h4 class="card-title">Nitin Bhatia</h4>
                                      <p class="card-text">An experienced entrepreneur having a strong presence in infrastructure field for almost 2 decades.</p>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Nitin Bhatia</h4>
                                      <p class="card-text">
                                        A self-motivated man with endless determination to dream and transform it into
                    reality. Mr. Bhatia has a long association with the renowned construction groups of India, like
                    L&T ECC, Tata Projects, Reliance Infrastructure, Sadbhav Engineering, Monte Carlo, Essar group
                    etc. He has been associated directly with the various government authorities like SSNNL, PWD
                    Department, Indian Railways, R & B Department etc.
                                      </p>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" data-aos="fade-right">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="../static/Images/profile.jpg" alt="card image"></p>
                                      <h4 class="card-title">Amit Desai</h4>
                                      <p class="card-text">An experienced finance professional, associated with top financial institutions and banks for over 20 years.</p>
                                     
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Amit Desai</h4>
                                      <p class="card-text">
                                        Having a strong marketing network and association with all key players in
                                        construction equipment and logistics arena. Accomplished various key responsibilities with
                                        various financial institutions like HDFC Bank, Reliance Capital and Srei Equipment Finance Ltd.
                                        Amit has been instrumental in conception and keeping foundation of Vrundavan Infra
                                        Soultions.
                                      </p>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" data-aos="fade-right">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="../static/Images/profile.jpg" alt="card image"></p>
                                      <h4 class="card-title">Brijesh Shah</h4>
                                      <p class="card-text">A finance professional with a rich experience of over 20 years of the infrastructure Industry.</p>
                                     
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Brijesh Shah</h4>
                                      <p class="card-text">
                                        Having a thorough knowledge of construction equipment operation, infrastructure activities,
                    corporate liaising and finance world. Mr. Shah has been associated with the top companies
                    like telcon, GE capital, Citicorp Finance and had served as a Regional head as one of the a Key
                    business position in Srei Equipment Finance Ltd. He is instrumental in broadening horizon of
                    services of the organisation, conceptualisation of the new ideas and developing relationship
                    of the non-conventional financing instruction in the field of infrastructure.
                                      </p>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 manoj-bharti"  data-aos="fade-right">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="../static/Images/profile.jpg" alt="card image"></p>
                                  <h4 class="card-title">Jitendra Varyani</h4>
                                  <p class="card-text">
                                    Heading business of Kutch area, based at Gandhidham. Jitendra is having
                  a rich experience of over 22 years
                                  </p>
                            
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Jitendra Varyani</h4>
                                  <p class="card-text">
                                    Heading business of Kutch area, based at Gandhidham. Jitendra is having
                  a rich experience of over 22 years, He has worked with the prominent financiers like Centurion
                  Bank. ICICI Bank, Hinduja Leyland Finance.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="margin-top:60px;" data-aos="fade-right">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="../static/Images/profile.jpg" alt="card image"></p>
                                      <h4 class="card-title">Shivendra Chouhan</h4>
                                      <p class="card-text">
                                        Shivendra has an
                    experience of over 14 years of the construction equipment finance industries.
                                      </p>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Shivendra Chouhan</h4>
                                      <p class="card-text">
                                        Heading business of South Gujarat, Based at Baroda. Shivendra has an
                    experience of over 14 years of the construction equipment finance industries, He had been
                    associated with the key players of the industry like Yes Bank, Indusind Bank, Cholamandalam
                    Finance and L&T Finance.
                                      </p>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="margin-top:60px;" data-aos="fade-right">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="../static/Images/profile.jpg" alt="card image"></p>
                                      <h4 class="card-title">Raxit Chaya</h4>
                                      <p class="card-text">
                                        Raxit is having an
                        enormous experience of 16 years.
                                      </p>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Raxit Chaya</h4>
                                      <p class="card-text">
                                        Heading business of Saurashtra area based at Rajkot. Raxit is having an
                        enormous experience of 16 years. He had worked with the top financiers like Tata Motors
                        Finance, Reliance Capital, HDFC Bank, Hinduja Leyland Finance.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              
              <!-- ./Team member -->
  
          </div>
      </div>

      <section id="footer" style="margin-top:40px;position:relative;top:50px;" >
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-1s1" data-aos="fade-right">
                <div style="text-align:center;">
                  <img src="../static/Images/logo.png" alt="logo" height="200" width="200"> 
                </div>
                <!-- <img src="../static/Images/logo.png" class="footer-logo" alt="logo" > -->
                <p class="footer-p">
                  We help you to get a quick loan on used and pre-owned Construction Equipment & Commercial Vehicle for your short terms need of funds
                </p>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-2s1 footer-2" data-aos="fade-right">
                <h3 class="footer-header">Contacts</h3>
                <div style="margin-top:30px;">
                  <i style="color:aquamarine;" class="fa fa-map-marker" aria-hidden="true"></i> <span style="margin-left:10px;font-size:14px;">VRUNDAVAN INFRASOLUTIONS<br>LLP A/802-B, West Gate, YMCA Club,<br> S.G. Highway, GJ 380054 IN. </span><br>
                 
                  <span><i style="color:aquamarine;" class="fa fa-phone" aria-hidden="true"></i><span style="margin-left:10px;">Phone: +800 49 900 900</span></span><br>
                  <span><i style="color:aquamarine;" class="fa fa-envelope-o" aria-hidden="true"></i><span style="margin-left:10px;">Email: info@visllp.com</span></span><br>
                  <span><i style="color:aquamarine;" class="fa fa-globe" aria-hidden="true"></i><span style="margin-left:10px;">Website: visllp.com</span></span>
              </div>
              </div>
              <div class="col-md-5 col-sm-12 col-lg-2 footer-devider-3s1 footer-devider-3" data-aos="fade-right">
                <h3 class="footer-header">Useful Links</h3>
                <ul class="footer-ul">
                  <li><a href="{{url_for('home')}}" style="color:white;">Home</a></li>
                  <li><a href="{{url_for('services')}}" style="color:white;">Services</a></li>
                  <li><a href="{{url_for('equipment')}}" style="color:white;">Equipment Finance</a></li>
                  <li><a href="{{url_for('vehicle')}}" style="color:white;">Vehicle Finance</a></li>
                  <li><a href="{{url_for('team')}}" style="color:white;">Our Team</a></li>
                  <li><a href="{{url_for('contact')}}" style="color:white;">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-4s1 footer-devider-3" data-aos="fade-right">
                <h3 class="footer-header">Newslatter</h3>
                <p class="footer-3-p">Subscribe to our newsletter and stay up to date with all events coming straight in your mailbox:</p>
                <form  method="POST" style="margin-top:30px;">
                  <div class="form-group">
                    
                      <input type="email" name="email" class="form-control form-control-footer" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Your E-mail Address"  required autocomplete="off">
                      <button type="submit" class="btn btn-lg btn-subscribe-footer"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>    Subscribe</button>
                     
                  
                  </div>
                </form>
              </div>
            </div>
      
            <div class="row second-footer-row">
              <div class="col-md-5 col-sm-12 col-lg-5 copyright" style="text-align:center;">
                <p>Copyright © visllp 2021. All rights reserved.</p>
              </div>
              <div class="col-md-3 col-sm-12 col-lg-3">
                
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4 social-icons" style="text-align:center;">
                <a href="#"><i class="fa social-icon fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-telegram" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
      
        </footer>
      </section>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          offset: 240,
          duration: 1000
      });
    </script>
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/script1.js"></script>
    <script src="../static/js/script2.js"></script>
 
</body>
</html>