
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Vrundavan Infra Solutions LLP</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,700,800%7COswald:300,400,500">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="../static/css/mystyle.css" >
    <link rel="icon" href="../static/Images/icon.png" type="image/gif" sizes="16x16">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
    .verticalLine {
        border-left: thick solid #0058ab;
}



  </style>
  </head>
  <body>
    <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-logo"><img src="../static/Images/logo.png" alt="" class="preload"/>
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <div class="page"> </div>
      <!-- Page Header-->

      <div style="background-image: url(../static/Images/equipmentf.jpg);height:100%;width:100%;background-position: center;background-size: cover;background-repeat: no-repeat;">
      <section class="breadcrumbs-custom bg-image context-dark" style="background: rgba(0, 0, 0, 0.5);padding-top:0px;padding-bottom:0px;">
        <div class="breadcrumbs-custom-inner">
          <div class="breadcrumbs-custom-container container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated" style="color:white;font-weight:500;">Vehicle Finance</h6>
              <h1 class="breadcrumbs-custom-title" style="color:white;font-weight:600;">Vehicle Finance</h1>
            </div>
            <ul class="breadcrumbs-custom-path" style="padding-bottom:100px;">
              <li><a href="{{url_for('home')}}" style="color:white;font-weight:600;">Home</a></li>
              <li class="active" style="color:white;font-weight:600;">Vehicle Finance</li>
            </ul>
          </div>
        </div>
       
      </section>
      </div>

      
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="../static/Images/logo.png" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('services')}}">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('equipment')}}">Equipment Finance</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('vehicle')}}">Vehicle Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('team')}}">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

      <div class="container">
        <h2 style="font-weight:600;color:black;text-align:center;margin-top:70px;font-size:30px;font-family:sans-serif;" data-aos="fade-right">New Vehicles</h2>
     
        <div class="row">
          <div class="col-md-4 col-sm-12 col-lg-3" style="margin-top:50px;" data-aos="fade-right">
            <p style="font-size:14px;">WE HELP YOU IN A BETTER WAY!</p>
            <h4 style="color:black;font-weight:600;">New Vehicles</h4>
            <p style="font-size:14px;">We help you to get a quick loan on Construction Equipment & Commercial Vehicle!</p>
            <p style="font-size:14px;">We offer Machinery Loans at simple eligibility criteria and minimal documentation. Please contact us if you would like to avail any kind of Construction Equipment loan for your Infrastructure.</p>
          </div>
          <div class="col-md-8 col-sm-12 col-lg-9">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <img src="../static/Images/NV-1.png" alt="Tipper" class="service-photos">
                <div class="verticalLine">
                <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Tipper</h5>
              </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <img src="../static/Images/NV-2.png" alt="Tractor" class="service-photos">
                <div class="verticalLine">
                <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Tractor</h5>
              </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <img src="../static/Images/NV-3.png" alt="Dump Truck" class="service-photos">
                <div class="verticalLine">
                <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Dump Truck</h5>
              </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/NV-4.png" alt="BUS" class="service-photos">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">BUS</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/NV-5.png" alt="Flatbad Truck" class="service-photos">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Flatbad Truck</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/NV-6.png" alt="Garbage Truck" class="service-photos">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Garbage Truck</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/NV-7.png" alt="Mini Truck" class="service-photos">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Mini Truck</h5>
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/NV-8.png" alt="Tank Truck" class="service-photos">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Tank Truck</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/NV-9.png" alt="Trailer" class="service-photos">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Trailer</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/NV-10.png" alt="Van" class="service-photos">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;">Van</h5>
                </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" style="margin-top:150px;">
        <h2 style="font-weight:600;color:black;text-align:center;margin-top:10px;font-size:30px;font-family:sans-serif;" data-aos="fade-right">Used Vehicles</h2>
       
       
        <div class="row">
          <div class="col-md-4 col-sm-12 col-lg-3" style="margin-top:10px;" data-aos="fade-right">
            <p style="font-size:14px;">WE HELP YOU IN A BETTER WAY!</p>
            <h4 style="color:black;font-weight:600;">Used Vehicles</h4>
            <p style="font-size:14px;">We help you to get a quick loan on Construction Equipment & Commercial Vehicle!</p>
            <p style="font-size:14px;">We offer Machinery Loans at simple eligibility criteria and minimal documentation. Please contact us if you would like to avail any kind of Construction Equipment loan for your Infrastructure.</p>
          </div>
          <div class="col-md-8 col-sm-12 col-lg-9">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <img src="../static/Images/UV-1.png" alt="Box Truck" class="service-photos i1">
                <div class="verticalLine v1">
                <h5 style="color:#0058ab;margin-left:20px;font-weight:600;margin-top:30px;">Box Truck</h5>
              </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <img src="../static/Images/UV-2.png" alt="BUS" class="service-photos i1">
                <div class="verticalLine v1">
                <h5 style="color:#0058ab;margin-left:20px;font-weight:600;margin-top:30px;">BUS</h5>
              </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4" data-aos="fade-right">
                <img src="../static/Images/UV-3.png" alt="Dumper" class="service-photos i1">
                <div class="verticalLine v1">
                <h5 style="color:#0058ab;margin-left:20px;font-weight:600;margin-top:30px;">Dumper</h5>
              </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:100px;">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/UV-4.png" alt="Heavy Commercial Vehicle" class="service-photos i1 i2">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;margin-top:30px;">Heavy Commercial Vehicle</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/UV-5.png" alt="Small Commercial Vehicle" class="service-photos i1 i2">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;margin-top:30px;">Small Commercial Vehicle</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/UV-6.png" alt="Truck" class="service-photos i1 i2">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;margin-top:30px;">Truck</h5>
                </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3 title" data-aos="fade-right">
                  <img src="../static/Images/UV-7.png" alt="Van" class="service-photos i1 i2">
                  <div class="verticalLine v1">
                  <h5 style="color:#0058ab;margin-left:20px;font-weight:600;margin-top:30px;">Van</h5>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



       <!-- Page Footer-->
       <section id="footer" style="margin-top:40px;">
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-1s1" data-aos="fade-right">
                <div style="text-align:center;">
                  <img src="../static/Images/logo.png" alt="logo" height="200" width="200"> 
                </div>
                <!-- <img src="../static/Images/logo.png" class="footer-logo" alt="logo" > -->
                <p class="footer-p">
                  We help you to get a quick loan on used and pre-owned Construction Equipment & Commercial Vehicle for your short terms need of funds
                </p>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-2s1 footer-2" data-aos="fade-right">
                <h3 class="footer-header">Contacts</h3>
                <div style="margin-top:30px;">
                  <i style="color:aquamarine;" class="fa fa-map-marker" aria-hidden="true"></i> <span style="margin-left:10px;font-size:14px;">VRUNDAVAN INFRASOLUTIONS<br>LLP A/802-B, West Gate, YMCA Club,<br> S.G. Highway, GJ 380054 IN.</span>
                <br>
                  <span><i style="color:aquamarine;" class="fa fa-phone" aria-hidden="true"></i><span style="margin-left:10px;">Phone: +800 49 900 900</span></span><br>
                  <span><i style="color:aquamarine;" class="fa fa-envelope-o" aria-hidden="true"></i><span style="margin-left:10px;">Email: info@visllp.com</span></span><br>
                  <span><i style="color:aquamarine;" class="fa fa-globe" aria-hidden="true"></i><span style="margin-left:10px;">Website: visllp.com</span></span>
              </div>
              </div>
              <div class="col-md-5 col-sm-12 col-lg-2 footer-devider-3s1 footer-devider-3" data-aos="fade-right">
                <h3 class="footer-header">Useful Links</h3>
                <ul class="footer-ul">
                  <li><a href="{{url_for('home')}}" style="color:white;">Home</a></li>
                  <li><a href="{{url_for('services')}}" style="color:white;">Services</a></li>
                  <li><a href="{{url_for('equipment')}}" style="color:white;">Equipment Finance</a></li>
                  <li><a href="{{url_for('vehicle')}}" style="color:white;">Vehicle Finance</a></li>
                  <li><a href="{{url_for('team')}}" style="color:white;">Our Team</a></li>
                  <li><a href="{{url_for('contact')}}" style="color:white;">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-4s1 footer-devider-3" data-aos="fade-right">
                <h3 class="footer-header">Newslatter</h3>
                <p class="footer-3-p">Subscribe to our newsletter and stay up to date with all events coming straight in your mailbox:</p>
                <form  method="POST" style="margin-top:30px;">
                  <div class="form-group">
                    
                      <input type="email" name="email" class="form-control form-control-footer" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Your E-mail Address"  required autocomplete="off">
                      <button type="submit" class="btn btn-lg btn-subscribe-footer"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>    Subscribe</button>
                     
                  
                  </div>
                </form>
              </div>
            </div>
      
            <div class="row second-footer-row">
              <div class="col-md-5 col-sm-12 col-lg-5 copyright" style="text-align:center;">
                <p>Copyright © visllp 2021. All rights reserved.</p>
              </div>
              <div class="col-md-3 col-sm-12 col-lg-3">
                
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4 social-icons" style="text-align:center;">
                <a href="#"><i class="fa social-icon fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa social-icon fa-2x fa-telegram" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
      
        </footer>
      </section>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
AOS.init({
    offset: 240,
    duration: 1000
});
</script>

<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Javascript-->
<script src="../static/js/script1.js"></script>
<script src="../static/js/script2.js"></script>
</body>
</html>